<i class="icon-plus"></i>
<span class="icon-plus"></span>
<div class="row">
<div class="jumbotron">  
<h1><center>Welcome to Emergency Plus!</center></h1> 
<span><center>ER Plus is a quick and efficient app that allows people to avoid a long unnecessary process for medical attention</center></span>
</div>
<center><span>If you are a new user, sign up below </span><br>
<a class="btn btn-default" href="/medical_records/new">Sign up</a><br>
<span>If you are a exsisting user, log in below</span><br>
<a class="btn btn-default" href="/medical_records/1">Log in</a></center>
</div>