<i class="icon-plus"></i>
<span class="icon-plus"></span>
<div class="row">
<div class="jumbotron">  
<h1><center>Welcome to Emergency Plus!</center></h1> 
<p><center>ER Plus is a quick and efficient app that allows people to avoid a long unnecessary process for medical attention</center></p>
</div>
<center><p>If you are a new user, sign up below </p>
<a class="btn btn-default" href="/medical_records/new">Sign up</a>
<p>If you are a exsisting user, log in below</p>
<a class="btn btn-default" href="/medical_records/1">Log in</a></center>
</div>